<header class="glass">
    <div class="logo">
        <a href="index.html">
            <img src="assets/logo-dark.png" id="logo">
        </a>
    </div>

    <!-- MENU DESKTOP -->
    <nav class="nav-desktop">
        <a href="index.html">Accueil</a>
        <a href="projects.html">Projets</a>
        <a href="about.html">À propos</a>
        <a href="contact.html">Contact</a>
    </nav>

    <div class="header-actions">
        <button class="burger" id="burger" aria-label="Menu">
            <span></span><span></span><span></span>
        </button>
        
        <button id="themeToggle">
            <img src="assets/icons/light.png" alt="theme" id="themeIcon">
        </button>
    </div>
</header>

<!-- MENU MOBILE (hors header) -->
<div id="mobileMenu" class="mobile-menu">
    <nav class="nav-mobile">
        <a href="index.html">Accueil</a>
        <a href="projects.html">Projets</a>
        <a href="about.html">À propos</a>
        <a href="contact.html">Contact</a>
    </nav>
</div>